*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}


body{
    font-family: 'Raleway', sans-serif;
    /* background-image:url('assets/images/patternimage.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
}

.hero{
    width:100vw;
    height:100vh;

    padding:1rem;

    /* flex-direction: column; */
    display:flex;
    justify-content: center;
    align-items: center;

    
    /* background-position: center; */
    background-size: cover;
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    background-image: url("assets/images/patternimage.jpg");
}

h1{
   font-size:calc(2rem + 4vw);


}

h2{
    font-size:calc(1rem + 3vw);

}

x-model {
    animation: 5s spin linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotateY(1turn);
    }
  }